* {
   margin: 0;
   padding: 0;
   border: 0;
}

#logo {
   width: 5%;
}
#nav {

}
li a{
  text-decoration: none;
  list-style: none;
  font-size: 2.5em;
  font-family: 'Clicker Script', cursive;
  color:#5a291e;
  padding: 1% 1% 1% 3%;
}
.headerbox {
   background-color: #dfccc8;
   position: absolute;
   height: 10%;
   width: 100%;
   color: #5a291e;
   text-align: center;
   font-size: 3.2em;
   font-family: 'Clicker Script', cursive;
   z-index: -1;
}
main {
   padding-top: 50px;
}
#content {
  padding-top: 80px;
}
h1 {
   font-size: 2.2em;
   font-family: 'Clicker Script', cursive;
   color:#5a291e;
   padding: 2% 2% 2% 2%;
}

h2 {
   font-size: 1.5em;
   font-family: 'Josefin Slab', serif;
   color: #838488;
   padding: 2% 2% 2% 2%;
}

h3 {
   font-size: 1.2em;
   font-family: 'Josefin Sans', sans-serif;
   color: #ee6230;
   padding: 2% 2% 2% 2%;
}

h4 {
   font-size: 1.2em;
   font-family: 'Josefin Slab', serif;
   color: #5a291e;
   padding: 2% 2% 2% 2%;
}

h5 {
   font-size: 1.2em;
   font-family: 'Josefin Sans', sans-serif;
   color: #5a291e;
   padding: 2% 2% 2% 2%;
}

h6 {
   font-size: 0.8em;
   font-family: 'Josefin Sans', sans-serif;
   color: #5a291e;
   padding: 2% 2% 2% 2%;
   text-decoration: underline;
}

h7 {
   font-size: 0.8em;
   font-family: Georgia;
   color: #999999;
   font-style: italic;
   padding: 2% 2% 2% 2%;
}

p {
   font-size: 0.8em;
   font-family: 'Josefin Sans', sans-serif;
   color: #dfccc8;
   padding: 0% 2% 0% 2%;
}
/* Styling for calendar */
.fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #dfccc8;
	color: #5a291e;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid #ddd;
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	color: #ee6230;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #caeae9;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}
/* End styling for calendar */
/*Media Queries*/
@media (min-width: 750px) {
 ul {
   text-align: center;
 }
 li {
   display: inline-block;
   padding: 5% 5% 5% 5%;
 }
}
@media (min-width: 1200px) {
  li {
    font-size: 2.2em;
  }
  .headerbox {
      font-size: 4em;
      height: 15%;
     }
     h1 {
      font-size: 4em;
     }
     h2, h3, h4, h5 {
      font-size: 2.4em;
     }
     h6, h7 {
      font-size: 1.6em;
     }
     p {
      font-size: 1em;
     }
}
@media (min-width: 1600px) {
     h1 {
      font-size: 4.2em;
     }
     h2, h3, h4, h5 {
      font-size: 2.6em;
     }
     h6, h7 {
      font-size: 1.8em;
     }
     p {
      font-size: 1.2em;
     }
}
